<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EzHosp</title>
    {% load static %}
	<link rel='stylesheet prefetch' href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>EzHosp</h1>
	    <form action="{% url 'login_list' %}">
            <button type="submit" class="form-btn">Login</button>
        </form>	
        <form action="{% url 'patient_list' %}">
            <button type="submit" class="form-btn">Pacientes</button>
        </form>
	    <form action="{% url 'convenio_list' %}">
            <button type="submit" class="form-btn">Convenio</button>
        </form>
	    <form action="{% url 'medico_list' %}">
            <button type="submit" class="form-btn">Medico</button>
        </form>
	    <form action="{% url 'hospital_list' %}">
            <button type="submit" class="form-btn">Hospital</button>
        </form>
        <form action="{% url 'modeloexame_list' %}">
            <button type="submit" class="form-btn">Exame</button>
        </form>
        <form action="{% url 'gerenciarexame_list' %}">
            <button type="submit" class="form-btn">Gerenciar Exame</button>
        </form>
        <form action="{% url 'consulta_list' %}">
            <button type="submit" class="form-btn">Consulta</button>
        </form>

    </div>
</body>
</html>
