{% extends 'polls/base.html' %}
{% block content %}
<div class="login-page">
  <div class="form">
    <p>Bem vindo ao EzHosp! Efetue seu login</p>
    {% if erro %}
      <p class="message error ">Login ou senha incorreto</p>
    {% endif %}


    <form class="login-form" action="{% url 'login_list' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Entrar" />



    </form>
    <form action="{% url 'index' %}">
       <button type="submit" class="button">Voltar</button>
    </form>
  </div>
</div>
{% endblock %}


