<!DOCTYPE html>
<html>
<head>
	<title>Lista de  Convenio</title>
    {% load static %}
	<link rel='stylesheet prefetch' href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Convenio</h1>
        <table class="table-list">
            <thead class="table-header">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for convenio in object_list %}
                    <tr>
                        <td> {{ convenio.user.first_name }} </td>
                        <td> {{ convenio.user.email }} </td>
                        <td> {{ convenio.phone }} </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center">Sem Convenio</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="{% url "create_convenio" %}" style="margin-top: 20px">
            <button class="form-btn center" type="submit">Adicionar</button>
        </form>
        <form action="{% url "paciente" %}" style="margin-top: 20px">
            <button class="form-btn center" type="submit">Voltar</button>
        </form>
    </div>
</body>
</html>
