<!DOCTYPE html>
<html>
<head>
	<title>Lista de Exames</title>
    {% load static %}
	<link rel='stylesheet prefetch' href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Exames</h1>
        <table class="table-list">
            <thead class="table-header">
                <tr>
                    <th>Nome</th>
                    <th>Hopital</th>
                    <th>Paciente</th>
                    <th>Horario</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for exame in object_list %}
                    <tr>
                        <td> {{ exame.nome }} </td>
                        <td> {{ exame.nome.hospital }} </td>
                        <td> {{ exame.paciente }} </td>
                        <td> {{ exame.horario }} </td>
                        <td>
                            <a href="{% url "edit_exame" exame.id %}"><img src="{% static 'images/edit_icon.png' %}"/></a>
                            <a href="{% url "delete_exame" exame.id %}"><img src="{% static 'images/delete_icon.png' %}"/></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center">Sem Exames</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if isPaciente == True %}
        <form action="{% url "create_exame" %}" style="margin-top: 20px">
            <button class="form-btn center" type="submit">Marcar Exame</button>
        </form>
        {% endif %}

        <form action="{% url "search_exame" %}" style="margin-top: 20px">
            <button class="form-btn center" type="submit">Buscar</button>
        </form>
        <form action="{% url "home" %}" style="margin-top: 20px">
            <button class="form-btn center" type="submit">Voltar</button>
        </form>
    </div>
</body>
</html>
